.portfolio {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  margin: 3rem;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 10px;
  }

  .portfolio-item {
    display: inline-block;
    width: 50vh;
    padding: 2rem;

    .portfolio-img {
      display: flex;
      flex-wrap: wrap;
      width: 50vh;
      padding: 0rem;
      border-color: rgb(255, 152, 104);
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
    }

    .description {
      margin-top: 2rem;
    }


    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f1f1f1;
      color: #333;

      text-decoration: none;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}