.container {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  transform: translateY(-5%);
  z-index: inherit;
  padding: 3rem 3rem;
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    width: 90%;
    max-width: 100%;

    .header_img {
      width: 100%;
      height: 100%;
    }

    &.portfolio-page,
    &.home-page,
    &.contact-page,
    &.about-page {
      .image-box {
        height: 150px;
        max-width: 100%;
      }
    }
  }

  h1 {
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    padding-bottom: 1rem;

    @media screen and (max-width: 768px) {
      font-size: 2.6rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
  }

  h3 {
    font-size: 2.2rem;
    font-family: 'Golos', sans-serif;
    font-weight: 660;
  }

  p {
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 520;
    line-height: 2.5rem;
    margin-right: 5rem;
  }
}