// Layout all pages

.page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-tags {
  bottom: auto;
  top: 25px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 14px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  display: block;
  width: auto;
  height: auto;
  opacity: 0;
  border: #ff1154 3px solid;
  margin: auto;
  top: 60%;
  transform: translateY(-10%);
  z-index: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  margin-bottom: 5rem;
}

.header_img {
  width: 80%;
  max-width: 700px;
  height: auto;
  max-height: 100vh;
}

.contact-form {
  width: auto;
}

.container.home-page,
.container.contact-page,
.container.about-page,
.container.portfolio-page {


  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 8rem;
    position: relative;
    margin-bottom: 0;
    left: -10px;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  p {
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 340;
    max-width: fit-content;
    animation: pulse 1s;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }

    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 100%;
    transform: translateY(-50%);
    width: fit-content;
    vertical-align: middle;
    display: table-cell;
    max-width: 60%;
    max-height: 100%;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {
  .page {
    position: relative;
    z-index: -120vh;
    display: block;
  }

  .container {
    display: block;
    position: relative;
    height: auto;

    &.contact-page,
    &.about-page,
    &.home-page,
    &.portfolio-page {
      .text-zone {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
      }
    }

    &.portfolio-page {
      width: 100%;
      padding: 20px;
      box-sizing: content-box;

      h1.page-title {
        margin-left: 20px;
        margin-top: 10px;
      }

      .image-box {
        height: 200px;
        max-width: calc(50% - 10px);
      }
    }
  }

  .stage-cube-cont {
    position: initial;
    width: 100%;
    height: auto;
    overflow: visible;
  }
}