.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 15%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: visible;
}

.text-zone {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  max-height: auto;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-weight: 550;
  font-family: sans-serif;
  animation: fadeIn 1.3s 1.8s backwards;
}

h1 {
  color: #ffd700;
  font-size: 24px;
}

h2 {
  color: #ffd700;
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.flat-button {
  box-sizing: border-box;
  padding: .7rem;
  border-radius: 3px;
  border: 3px solid #ffd700;
  font-family: sans-serif;
  color: #ffd700;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  text-decoration: solid;
  margin: 0rem 0 0 0;
  white-space: nowrap;

  &:hover {
    box-sizing: border-box;
    background: #ffd700;
    color: #001e82;
    border: 3px solid #ffd700;
  }
}