.home-page {
  .text-zone {
    width: 100%;
    height: auto;
  }

  .stage-cube-cont {
    width: 10%;
    height: 10%;
    top: 0;
    padding-top: 28%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: visible;
  }

  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }

    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }

    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }

    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }

    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }

    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }

    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }

  @keyframes spincube {

    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }

    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }

    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
      transform: rotateX(90deg);
    }
  }

  h1 {
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    padding-top: 1rem;
    letter-spacing: 1px;
    font-family: 'Coolvetica';
    font-weight: 300;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 25px;
      line-height: 25px;
      position: relative;
      padding: -20px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 25px;
      position: absolute;
      margin-top: 18px;
      margin-left: 25px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #0c173b;
    margin-top: 1%;
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1.3s 1.8s backwards;
  }

  h4 {
    color: #06006f;
    max-width: 80%;
    font-weight: 700;
    font-size: 16px;
    font-family: sans-serif;
    animation: fadeIn 1.3s 1.8s backwards;
  }

  .flat-button {
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 3px;
    border: 3px solid #ffd700;
    font-family: sans-serif;
    color: #ffd700;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    text-decoration: solid;
    margin: 0rem 0 0 0;
    white-space: nowrap;

    &:hover {
      box-sizing: border-box;
      background: #ffd700;
      color: #001e82;
      border: 3px solid #ffd700;
    }
  }
}

@media screen and (max-width: 1200px) {

  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: inline-block;
    padding-top: auto;
  }

  .home-page .text-zone {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 90%;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 120px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}