.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 2;
  right: 2;
  z-index: 9999;
  width: 93%;
  height: 60px;
  padding: 2.9rem;


  .nav-logo {
    flex-grow: 2;
    transition: all 0.2s ease-out;

    @media (max-width: 76px) {
      margin-right: .5rem;
      margin-left: 3rem;
      min-width: unset;
    }
  }

  .logo {
    width: 16rem;

    @media (max-width: 76px) {
      margin-right: .5rem;
      margin-left: 3rem;
      min-width: unset;
    }
  }

  .nav-links {
    list-style: none;


    @media (max-width: 76px) {
      display: none;
    }
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    float: right;
    text-decoration: none;
    color: rgb(11, 3, 103);
    padding: 0rem .5rem;
  }

  .nav-link:hover {
    color: rgb(232, 70, 0);
  }

  .social-icons {
    float: right;
    text-align: center;
    padding: 0rem .5rem;
    text-decoration: none;

    i {
      transition: color 0.3s ease-out;
    }

    .icon {
      font-size: 1.9rem;
      margin: 0 1rem;
      color: rgb(27, 16, 180);
    }

    .icon:hover {
      color: rgb(232, 70, 0);
    }
  }
}