 .logo {
   width: 90px;
   padding: 1rem;
   display: flex;
   transition: all 0.3s ease-out;

   img {
     width: 100%;
     height: auto;
   }
 }

 .nav-bar {
   background: #0267d2;
   position: fixed;
   display: flex;
   width: 100%;
   float: left;
   flex-direction: row;
   z-index: 2;

   a {
     font-size: 16px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #f0f2ff;
     font-weight: 450;
     letter-spacing: 1px;
     align-items: center;
     line-height: 50px;
     padding: .8rem 1rem;
     display: flex;
     text-decoration: none;
     position: relative;

     i {

       transition: color 0.3s ease-out;
     }

     &:hover {
       color: hsl(54, 100%, 50%);
     }
   }
 }