.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 60px;
  padding: 1rem 2rem;
  z-index: 100;
  margin: 1rem 0rem;

  .nav-logo {
    flex-grow: 1;
    transition: all 0.2s ease-out;

    @media (max-width: 76px) {
      margin-right: .5rem;
      margin-left: 3rem;
      min-width: unset;
    }
  }

  .logo {
    width: 16rem;

    @media (max-width: 76px) {
      margin-right: .5rem;
      margin-left: 3rem;
      min-width: unset;
    }
  }

  .nav-links {
    list-style: none;


    @media (max-width: 76px) {
      display: none;
    }
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    float: right;
    text-decoration: none;
    color: var(--link_color);
    padding: 0rem .5rem;
  }

  .nav-link:hover {
    color: rgb(232, 70, 0);
  }

  .social-icons {
    float: right;
    text-align: center;
    padding: 0rem .5rem;
    text-decoration: none;

    i {
      transition: color 0.3s ease-out;
    }

    .icon {
      font-size: 1.9rem;
      margin: 0 1rem;
      color: var(--link_color);
    }

    .icon:hover {
      color: rgb(242, 79, 20);
    }
  }
}