@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  margin: 0rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

  @media screen and (max-width: 768px) {
    width: 90%;
    max-width: 100%;

    .header_img {
      width: 100%;
      height: 100%;
    }

    &.portfolio-page,
    &.home-page,
    &.contact-page,
    &.about-page {
      .image-box {
        height: 150px;
        max-width: 100%;
      }

      h1 {
        font-size: 3.5rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
      }

      h2 {
        font-size: 2.8rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
      }

      .h3 {
        font-size: 1.4rem;
        font-family: 'Golos', sans-serif;
        font-weight: 660;
      }

      .h4 {
        font-size: 1.2rem;
        font-family: 'Golos', sans-serif;
        font-weight: 600;
      }

      .h5 {
        font-size: 0.9rem;
        font-family: 'Golos', sans-serif;
      }

      p {
        font-size: 1.8rem;
        font-family: 'Golos', sans-serif;
      }
    }
  }
}