.container {
  width: 100%;
  max-width: 100%;
  margin: 2rem;

  @media screen and (max-width: 768px) {
    width: 90%;
    max-width: 100%;

    .header_img {
      width: 100%;
      height: 100%;
    }

    &.portfolio-page,
    &.home-page,
    &.contact-page,
    &.about-page {
      .image-box {
        height: 150px;
        max-width: 100%;
      }

      .h1 {
        font-size: 2.1rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
      }

      ;

      .h2 {
        font-size: 1.8rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
      }

      ;

      .h3 {
        font-size: 1.4rem;
        font-family: 'Golos', sans-serif;
        font-weight: 660;
      }

      ;

      .h4 {
        font-size: 1.2rem;
        font-family: 'Golos', sans-serif;
        font-weight: 600;
      }

      ;

      .h5 {
        font-size: 0.9rem;
        font-family: 'Golos', sans-serif;
      }

      p {
        font-size: 0.8rem;
        font-family: 'Golos', sans-serif;

      }

    }
  }
}