html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #13163f;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #96c9ff;
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 100px;
  margin-left: 100px;
}

@media screen and (max-width: 1300px) {
  body {
    overflow: visible;
  }
}