html {
  font-size: 70.5%;
}

body {
  background-color: #769aff;
  height: 100%;
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #010543;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: block;
  justify-content: flex-start;
  margin-right: 0;
  padding-right: 0;
}

.dashboard {
  margin-top: 3%;
  margin-left: 3%;

}

@media screen and (max-width: 2000px) {
  body {
    overflow: visible;
  }
}