html {
  font-size: 70.5%;
  scroll-behavior: smooth;
}

:root {
  --body_background: #F7BE26;
  --body_color: black;
  --link_color: navy;
}

[data-theme='dark'] {
  --body_background: #010538;
  --body_color: #ffffff;
  --link_color: #F7BE26;
}

body {
  background-color: var(--body_background);
  height: auto;
  margin: 0;
  font: 300 11px/1.4 'Golos Text', sans-serif;
  color: var(--body_color);
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  overflow-x: hidden;
  display: block;
  justify-content: flex-start;
  margin-right: 0;
  padding-right: 0;
  padding-bottom: 0rem;
}

/* #F7BE26; */